/* -------------------------------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FOOTER 1 SECTION */
/* -------------------------------------------------------------------------- */
.footer1 {
  min-height: 300px;
  background: $color-extra-light;
  padding: 40px 20px;

  .footer-link {
    color: $color-dark;
    text-decoration: none;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 300;

    &:hover {
      color: $color-main;
    }
  }

  h3 {
    display: inline-block !important;
  }

  .ig-button {
    background: $color-main;
    border-radius: 50px;
    padding: .1rem 1rem;
    color: $color-white;
    font-family: $font-primary;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
  }

  .footer-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  .containerish {
    width: 95%;
    max-width: 1200px;
    display: grid;
    grid-gap: 2rem;

    .line {
      height: 1px;
      width: 60%;
      background-color: $color-main;
      margin: 0 auto 1.5rem auto;
      opacity: .44;
    }

    .col-one {
      img {
        width: 100%;
        height: auto;
      }
    }

    .col-two {
      display: flex;
      flex-direction: column;
      justify-content: center;

      img {
        align-self: center;
        max-width: 170px;
        margin-bottom: 1.5rem;
      }

      p {
        align-self: center;
        text-align: center;
      }
    }

    .col-three {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        align-self: center;
        text-align: center;
      }
    }

    .col-four {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        align-self: center;
        text-align: center;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* FOOTER 2 SECTION */
/* -------------------------------------------------------------------------- */
.footer2 {
  background-color: $color-dark;
  width: 100%;
  padding: 0.6rem 30px;

  .small-copy {
    margin-bottom: 0;
  }

  .containerish {
    max-width: 100%;
    padding: 0 0.2rem;
    display: grid;
    align-items: center;
    // background: red;

    .foot-left {
      display: flex;
      align-items: center;

      p {
        display: inline-block;
        padding: 0;
        margin: 0;
      }
    }

    .social-link {
      color: $color-white;
      margin-right: 0.5rem;

      &:hover {
        text-decoration: none;
        color: $color-main;
      }
    }

    .social-link:last-child {
      margin-right: 0;
    }

    .footer-link {
      color: $color-white;
      font-family: $font-primary;
      font-size: 13px;
      line-height: 20px;
      font-weight: 300;
      display: inline-block;

      &:hover {
        text-decoration: none;
        color: $color-main;
      }
    }
  }
}