/* -------------------------------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------------------------------- */
header {
  position: relative;
  width: 100%;
  z-index: 9999;
}

/* -------------------------------------------------------------------------- */
/* TOP BAR */
/* -------------------------------------------------------------------------- */
.topbar {
  width: 100%;
  height: 30px;
  height: auto;
  // padding: .3rem 0;
  background-color: $color-dark;

  .containerish {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 0;
    display: grid;
    grid-gap: 1rem;

    .col-left {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;

      .social-wrapper {
        margin-right: 2rem;
      }
    }

    .col-center {
      text-align: center;
      align-items: center;
      display: none;

      p {
        margin: 0;
      }
    }

    .col-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .topbar-nav {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
          display: inline-block;
        }

        li:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  .topbar-link {
    color: $color-white;
    font-family: $font-primary;
    font-size: 13px;
    font-weight: 300;

    &:hover {
      color: $color-main;
      text-decoration: none;
    }
  }

  .social-wrapper {
    width: auto;
  }

}

/* -------------------------------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------------------------------- */
.navbar-wrapper {
  background: url('../../img/header-top-bg.png') center top / cover;
  position: relative;
  overflow: visible;
  // min-height: 100px;
  display: flex;
  align-items: center;

  .containerish {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    height: auto;
    padding: 0;
    display: grid;
    grid-gap: 1rem;
  }
}

.navbar {
  .nav-logo {
    max-width: 150px;
    // margin-top: 18px;
  }
}

.nav-item {
  margin-right: 0.7rem;

  // font-family: $font-primary !important;
  .nav-link {
    font-family: $font-primary !important;
    color: $color-white !important;
    font-size: 0.875rem;
    font-style: normal;

    &:hover {
      color: $color-dark-accent !important;
    }
  }
}

.nav-item .nav-link:last-child {
  padding-right: 0;
  padding-left: 0;
}

.nav-item.nav-divider {
  position: relative;

  &::after {
    content: "•";
    color: $color-light;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
  }
}

.nav-item:last-child {
  margin-right: 0 !important;

  .nav-link {
    margin-right: 0;
  }
}

.dropdown-menu {
  background-color: rgba($color-light, 1);
  border-color: transparent;
  margin-top: 0 !important;

  .dropdown-item {
    color: $color-dark;
    font-family: $font-primary;
    font-weight: 400;

    &:hover {
      background-color: transparent;
      color: $color-main;
    }

    &:focus {
      background: transparent;
    }
  }
}

.dropdown-toggle::after {
  border: none !important;
  margin-left: 0 !important;
}