/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 220px;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      height: auto;
      padding: 0;
      display: grid;
      grid-gap: 1rem;

      .col-left {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;

        .social-wrapper {
          margin-right: 1rem;
          display: inline-block;

          i {
            margin-right: .5rem;
          }
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 2 / 3;
        grid-row: 1;

        .topbar-nav {
          list-style-type: none;
          padding: 0;
          margin: 0;

          a: {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  /* HERO ******************************************************************* */
  /* COOLSCULPTING ********************************************************** */
  /* SEARCH ***************************************************************** */
  /* ABOUT US *************************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* BOTOX-FILLERS ********************************************************** */
  /* HYDRAFACIAL ************************************************************ */
  /* EVENT ****************************************************************** */
  /* INSTALIFT-EMSCULPT ***************************************************** */
  /* CONSULTATION *********************************************************** */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    width: 225px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* TOPBAR ***************************************************************** */
  /* NAVBAR ***************************************************************** */
  .navbar-wrapper {
    background: url('../../img/header-top-bg.png') center top / cover;
    position: relative;
    overflow: visible;
    min-height: 75px;
    display: flex;
    align-items: center;

    .containerish {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      height: auto;
      padding: 0;
      display: grid;
      grid-gap: 1rem;
    }
  }

  /* HERO ******************************************************************* */
  /* COOLSCULPTING ********************************************************** */
  /* SEARCH ***************************************************************** */
  /* ABOUT US *************************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* BOTOX-FILLERS ********************************************************** */
  /* HYDRAFACIAL ************************************************************ */
  /* EVENT ****************************************************************** */
  /* INSTALIFT-EMSCULPT ***************************************************** */
  /* CONSULTATION *********************************************************** */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR ******************************************************* */
  header {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      height: auto;
      padding: 0;
      display: grid;
      grid-gap: 1rem;
      align-items: center;

      .col-left {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;

        .social-wrapper {
          margin-right: 1rem;
          display: inline-block;

          i {
            margin-right: .5rem;
          }
        }
      }

      .col-center {
        text-align: center;
        align-items: center;
        display: block;
        grid-column: 2 / 3;
        grid-row: 1;

        p {
          margin: 0;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 1;

        .topbar-nav {
          list-style-type: none;
          padding: 0;
          margin: 0;

          a: {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  /* NAVBAR ***************************************************************** */
  .navbar {
    .nav-logo {
      max-width: 200px;
      // margin-top: 18px;
    }
  }

  .nav-item {
    margin-right: 1.3rem;
  }

  /* HERO ******************************************************************* */
  /* COOLSCULPTING ********************************************************** */
  /* SEARCH ***************************************************************** */
  /* ABOUT US *************************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* BOTOX-FILLERS ********************************************************** */
  /* HYDRAFACIAL ************************************************************ */
  /* EVENT ****************************************************************** */
  /* INSTALIFT-EMSCULPT ***************************************************** */
  /* CONSULTATION *********************************************************** */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* TOPBAR ***************************************************************** */
  /* HERO ******************************************************************* */
  /* COOLSCULPTING ********************************************************** */
  /* SEARCH ***************************************************************** */
  /* ABOUT US *************************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* BOTOX-FILLERS ********************************************************** */
  /* HYDRAFACIAL ************************************************************ */
  /* EVENT ****************************************************************** */
  /* INSTALIFT-EMSCULPT ***************************************************** */
  /* CONSULTATION *********************************************************** */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {
  /* TOPBAR ***************************************************************** */
  /* HERO ******************************************************************* */
  /* COOLSCULPTING ********************************************************** */
  /* SEARCH ***************************************************************** */
  /* ABOUT US *************************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* BOTOX-FILLERS ********************************************************** */
  /* HYDRAFACIAL ************************************************************ */
  /* EVENT ****************************************************************** */
  /* INSTALIFT-EMSCULPT ***************************************************** */
  /* CONSULTATION *********************************************************** */
  /* FOOTER ***************************************************************** */
}