/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url('../../img/video-placeholder@2x.jpg') center / cover;
  height: 80vh;
}

/* -------------------------------------------------------------------------- */
/* COOLSCULPTING SECTION */
/* -------------------------------------------------------------------------- */
.coolsculpting {
  background: url('../../img/cool-sculpting-bg@2x.jpg') center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  .section-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .section-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: .2;
  }

  .containerish {
    display: grid;
    align-items: center;
    padding: 0 20px;

    .content-wrapper {}

    .coolsculpting-girl {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-white;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* ABOUT US */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  background: $color-dark-accent;
  min-height: 200px;
  align-items: center;

  .containerish {
    padding: 40px 20px;
    display: grid;

    h3,
    h2,
    p {
      text-align: center;
    }

    p {
      margin-top: 0.5rem;
    }

    .form-control {
      margin-bottom: 0.5rem;
      border-radius: 0;
    }

    .form-control:last-child {
      margin-bottom: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* BOTOX AND FILLERS SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* HYDRAFACIAL SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* EVENT */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* INSTALIFT - EMSULPT */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* CONSULTATION SECTION */
/* -------------------------------------------------------------------------- */