/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url('../../img/video-placeholder@2x.jpg') center / cover;
  height: 80vh;
}

/* -------------------------------------------------------------------------- */
/* COOLSCULPTING SECTION */
/* -------------------------------------------------------------------------- */
.coolsculpting {
  background: url('../../img/cool-sculpting-bg@2x.jpg') center / cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;

  .section-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  .section-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    opacity: .2;
  }

  .containerish {
    display: grid;
    align-items: center;
    padding: 0 20px;


    .coolsculpting-girl {
      display: none;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-extra-light;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 50px;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* ABOUT US */
/* -------------------------------------------------------------------------- */
.about-main {
  padding: 40px 20px;
  background: url('../../img/aboutus-bg@2x.jpg') center bottom / cover;

  .containerish {
    display: grid;
  }
}

.about-staff {
  background-color: #f0f1ec;
  padding: 40px 20px;

  .containerish {
    display: grid;
    grid-gap: 1rem;

    .staff {
      text-align: center;

      img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
      }

      .staff-header {
        font-family: $font-secondary;
        font-size: 22px;
        line-height: 22px;
        font-weight: 700;
        margin-bottom: 1rem !important;
      }

      .body-copy {
        margin: 0 !important;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  background: url('../../img/newsletter-bg@2x.jpg') center / cover;
  min-height: 200px;
  align-items: center;

  .containerish {
    padding: 40px 20px;
    display: grid;

    h3,
    h2,
    p {
      text-align: center;
    }

    p {
      margin-top: 0.5rem;
    }

    .form-control {
      margin-bottom: 0.5rem;
      border-radius: 50px;
    }

    .form-control:last-child {
      margin-bottom: 0;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* BOTOX AND FILLERS SECTION */
/* -------------------------------------------------------------------------- */

.botox-injectables {
  min-height: 300px;
  background-color: $color-main;
  padding: 40px 20px;

  .containerish {
    display: grid;
    grid-gap: 1rem;

    img {
      border: 2px solid white;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* HYDRAFACIAL SECTION */
/* -------------------------------------------------------------------------- */
.hydrafacial-hero {
  background: url('../../img/hydrafacial-img@2x.jpg') center / cover;
  height: 50vh;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 5;
  }
}

.hydrafacial-info {
  background: $color-dark;
  min-height: 200px;
  padding: 40px 20px;
}

/* -------------------------------------------------------------------------- */
/* EVENT */
/* -------------------------------------------------------------------------- */
.event {
  padding: 40px 20px;

  .event-wrapper {
    background: $color-extra-light;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 78px;
    padding: 2rem;
    position: relative;
  }

  .date-marker {
    width: 100px;
    height: 100px;
    display: none;
  }

  .containerish {
    display: grid;
    align-items: center;
    grid-gap: 1rem;

    img {
      border-radius: 20px;
    }

    .section-info {

      p {
        max-width: 500px;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* INSTALIFT - EMSULPT */
/* -------------------------------------------------------------------------- */
.instalift-emsculpt {
  background: url('../../img/instalift-emsculpt-bg@2x.jpg') center / cover;
  min-height: 80vh;
  padding: 40px 20px;
  position: relative;

  .containerish {
    display: grid;
    grid-gap: 1rem;
  }

  #instalift,
  #emsculpt {
    position: relative;
  }

  #instalift {
    margin-bottom: 2rem;
  }
}

/* -------------------------------------------------------------------------- */
/* CONSULTATION SECTION */
/* -------------------------------------------------------------------------- */
.appointments {
  background: $color-dark;
  height: 100vh;
  padding: 60px 20px;
  position: relative;
  z-index: -1;

  .form-control,
  button {
    border-radius: 50px;
    border: none;
    height: 40px;
  }


  .section-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: .04;
    z-index: 1;
  }

  .section-bottom-wave {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .containerish {
    .container-fluid {
      form {

        input[name="time"],
        input[name="day"] {
          background: $color-white;
        }
      }
    }
  }
}